@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');


.App-header {
    flex-direction: column;
    font-size: calc(5px + 2vmin);
    color: rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif;
}

  .App-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-right: 6%;
}

.App-sub {
    display: flex;
    flex-direction: column;
    padding-top: 12%;
    font-size: calc(35px + 2vmin);
    font-family: 'Raleway', sans-serif;
    color: #222228;
    text-align: center;
}

.App-sub2 {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-right: 23%;
    font-size: calc(35px + 2vmin);
    font-family: 'Raleway', sans-serif;
    color: #222228;
    text-align: center;
    white-space: pre-wrap;
}
.App-sub3 {
    display: flex;
    flex-direction: column;
    padding-top: 6%;
    font-family: 'Raleway', sans-serif;
    color: #222228;
    text-align: center;
    font-size: calc(10px + 2vmin);
    white-space: pre-wrap;
    padding-bottom: 2%;
}
.App-sub4 {
    display: flex;
    flex-direction: column;
    font-size: calc(25px + 2vmin);
    font-family: 'Raleway', sans-serif;
    color: #222228;
    text-align: center;
    margin-top: 2%;
}

.App-body {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #000000;
}

html {
    scroll-snap-type: y proximity;
}
  
.child {
    scroll-snap-align: start;
}

.inlinetxt {
    display: inline-block;
    text-align: center;
}

.img {
    height: 30%;
    width: 3%;
}

.img2 {
    height: 4%;
    width: 2.5%;
    position: absolute;
    bottom: 0;
}

.title {
    display: flex;
    flex-direction: column;
    padding-top: 15%;
    font-size: calc(35px + 7vmin);
    font-family: "Roboto";
    color: #222228;
    text-align: center;
    white-space: pre-wrap;
    margin-bottom: 0%;
    margin-top: 0;
}
