.App-header, body{
    background-color: #f5f3f3;
    height: 100%;
    width: 100%;
}

.button{
    align-items: center;
    color: #615672;
}

.footer{
    position: absolute;
    bottom: 10px;
    font-size: small;
}