@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');

.contact {
    padding-top: 10%;
    padding-bottom: 35%;
    text-align: center;
    font-family: 'Roboto';
}

.textbox {
    padding-right: 10px;
}