.contact-sub {
    padding-top: 5%;
    padding-left: 50px;
    padding-bottom: 50px;
    color: #4a4258;
    margin: 0;
}
.contact-body {
    padding-left: 50px;
    color: #000000;
    margin: 0;
}
.contact-foot {
    padding-left: 50px;
    color: #000000;
    margin: 0;
    padding-bottom: 38%;
}